@import url('https://fonts.googleapis.com/css?family=Nunito');

html body {
	font-family: 'Nunito', sans-serif;
}

/*-- begin menu--*/
/*-- установка фона и размера шрифта--*/
#top-menu  {
  	background-color: #383839;
  	font-size: 23px; 
}

/*-- заполнение фоном логотипа - айва --*/
#top-menu .svg-item {
    fill: #383839;
}

/*-- изменение цвета фона логотипа - айва при наведении--*/
#top-menu .svg-link:hover .svg-item {
    stroke: #aeaeae;  
}

/*-- установка фона, размера логотипа denvich --*/
#top-menu .navbar-brand{
  	color: #d6d6d6;
  	font-weight: bold;
  	font-size: 30px;
}

/*-- изменение фона  логотипа denvich при наведении--*/
#top-menu .navbar-brand:hover{
  	color: #aeaeae;
  	
}

/*-- установки линии подчеркивания в меню навигации и ее цвета--*/
#top-menu  .navbar-nav {
	border-bottom: 1px solid #d6d6d6;
}

/*-- установка внутренних отступов ссылок в меню навигации, цвет ссылок --*/
#top-menu  .navbar-nav a{
	padding-left: 15px;
	padding-right: 15px;
	color: #d6d6d6;
}

/*-- изменение цвета ссылок в меню навигации при наведении, так же появление отдельной короткой линии активности--*/
#top-menu  .navbar-nav a:hover{
	color: #aeaeae;
	border-bottom: 3px solid #aeaeae;	
}

/*-- изменение цвета ссылок в меню навигации и линии активности при клике--*/
#top-menu  .navbar-nav .active a{
	color: #ffffff;
	border-bottom: 3px solid #ffffff;
}

/*-- установка внутреннего отступа в кнопке мобильного меню--*/
#top-menu .icon-button-toggler{
	padding-top: 5px;
	/*-- установка цвета рамки - скрытие рамки--*/
	border-color: 383839;
}

#top-menu .icon-button-toggler .active a{
	/*-- установка цвета рамки - скрытие рамки при раскрытом меню--*/
	border-color: 383839;
}

/*-- end menu--*/

/*-- do't delet, for correct script navigation--*/
/*-- установка внешнего отступа каждой секции для корректной работы скрипта menuscroll--*/
#profile, #workflow, #contact, #testing, #template{
	margin-top: 1px;
}

/*-- begin colletion --*/
/*-- установка цвета и разсера шрифта  текста в секции карусель --*/
.carousel-caption p{
	color: #ffffff;
	font-size: 50px;
}
/*-- end colletion --*/

/*-- begin section profile--*/
/*-- установка цвета фона в секции профайл --*/
#profile{
	background-color: #6b686b
}

/*-- установка внутреннего отступа, ширины фото--*/
#profile .foto{
	padding-top:40px;
	width: 25%;
	display: block; 
	margin: 0 auto;
}

/*-- установка внутреннего отступа, рамера шрифта, цвета, направления текста--*/
#profile  p{
	text-align: justify;
	color: #ffffff;
	font-size: 30px;
	padding-top: 10px;
}

/*-- установка внутреннего отступа, цвета, выравнивания текста по центру, установка тени основного заголовка текста--*/
#profile h1{
	padding-top: 100px;
	color: #383839;
	text-align: center;
	text-shadow: 2px 2px 2px #ffffff;
}


#profile h2{
	padding-top: 120px;
	padding-left: 0px;
	color: #ffffff;
	text-align: center;	
}

#profile .quote p{
	padding-top: 90px;
	color: #000000;
	font-size: 25px;
	text-shadow: 2px 2px 2px #ffffff;	
}

#profile .news p{
	color: #000000;
	font-size: 15px;		
}

#profile .btn{
	background-color:#383839; 
	border:0px;
}

#profile .btn:hover {
	background-color:#aeaeae; 
	border:0px;
}
/*-- end section profile--*/

/*-- begin section workflow--*/
#workflow{
	background-color: #ffffff;
}

#workflow .card{
	margin-top: 100px;
	border: 1px solid #383839;
	/*-- изменение ширины карточки --*/
	width: 75%;
	margin: 50px;
	align-content: center;
}

#workflow .card h5{
	color: #000000;
}

#workflow .card p{
	color: #483597;
}
/*-- установка ширины и отступов фото в карточке секций workflow, testing, template--*/
#workflow .card-img-top, #testing .card-img-top, #template .card-img-top{
	width: 40%;
	display: block;  
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 20px;
}

/*-- установка ширины и отступов кнопок в карточке секций workflow, testing, template--*/
#workflow .btn, #testing .btn, #template .btn{
	width: 50%;
	display: block;  
	margin: 0 auto;
	font-size: 10px;
	padding:5px;
	background-color:#383839; 
	border: 0px;
}

/*-- установка изменения цвета текста при наведении в карточке секций workflow, testing, template--*/
#workflow .btn:hover{
	color: #aeaeae;
	
}

#testing .btn:hover{
	color: #aeaeae;
	
}

#template .btn:hover{
	color: #aeaeae;
}

#workflow h1{
	padding-top: 130px;
	color: #383839;
	text-shadow: 2px 2px 2px #ffffff;
}
/*-- end section profile--*/

/*-- begin section contact--*/
#contact{
	padding-top: 140px;
	padding-bottom: 250px;
	background-color: #000000
}

#contact h1{
	color: #d6d6d6;
	text-shadow: 1px 1px 1px #383839;
}

#contact p{
	color: #d6d6d6;
	padding-top:50px;
	padding-bottom: 50px;
	font-size: 30px;
}

#contact a{
	font-size: 100px;
	color: #d6d6d6;
}

#contact a:hover{
	color: #ffffff;
}

#button, #button-2{
	width: 50%;
	margin-top: 100px;	
}

#button a, #button-2 a{
	padding: 5px;
	font-size: 10px;
	border: 2px solid #d6d6d6;
	border-radius: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	background-color: #000000;
	color: #ffffff;
}

#button a:hover, #button-2 a:hover{
	background-color: #ffffff;
	color: #000000;
	border-color: #aeaeae;
}
/*-- end section contact--*/

/*-- begin section testing --*/
#testing{
	padding-top: 120px;
	background-color: #6b686b;
	padding-bottom: 100px;
}

#testing .card{
	border: 1px solid #383839;
	width: 72%;
	margin: 50px;
}

#testing  p{
	color: #ffffff;
}

#testing .card p{
	color: #483597;
}

#testing .text{
	font-size: 30px;
	padding-top: 60px;
}

#testing h1{
	color: #383839;
	text-shadow: 2px 2px 2px #ffffff;
	text-align: center;
}
/*-- end section testing--*/

/*-- begine section template--*/
#template{
	padding-top: 130px;
	background-color: #ffffff;
	padding-bottom: 100px;
}

#template .card{
	border: 1px solid #383839;
	width: 72%;
	margin: 50px;
}

#template p{
	color: #000000;
}

#template .card p{
	color: #483597;
}

#template .text{
	font-size: 30px;
	padding-top: 60px;
}

#template h1{
	color: #383839;
	text-shadow: 2px 2px 2px #ffffff;
	text-align: center;
}
/*-- end section template--*/

/*-- begin footer--*/
#footer{
	padding-top: 100px;
	padding-bottom: 150px;
	background-color: #383839;
	color: #ffffff;
}

#footer ul{
	padding-left:10px;
}
#footer ul li {
	display: inline-block;	
}

#footer a{
	text-decoration: none;
	color: #d6d6d6;
	padding-right: 6px;
	border-right: 1px solid #898989;
	font-size: 20px;
}

#footer a:hover{
	color: #ffffff;
}

#footer .rights {
	padding: 50px;
	margin-top: 150px;
	border-right: 0px;
}

#footer .rights a{
	border-right: 0px;
}

#footer .svg-link:hover .svg-item {
    stroke: #ffffff;  
}
/*-- end footer--*/

/*-- begin media--*/
@media (max-width: 1024px) {
	/*-- menu --*/
	#top-menu {
		font-size: 10px; 
	}

	#top-menu img{
		width: 30%;
	}

	#top-menu .navbar-brand{
		font-size: 15px; 
	}

	/*-- collection --*/
	.carousel-caption p{
		font-size: 30px;
	}

	/*-- profile --*/
	#profile .foto{
		padding-top:35px;
		padding-bottom: 20px;
	}

	#profile  p{
	font-size: 20px;
	}

	#profile .quote p {
		font-size: 10px;
	}

	#profile .news p{
		font-size: 10px;
	}

	#profile h1{
		font-size: 15px;
		padding-top: 20px;
	}

	#profile h2{
		font-size: 20px;
		padding-top: 80px;
	}

	#profile h3{
		font-size: 15px;
		padding-top: 5px;
	}

	/*-- workflow --*/
	#workflow .card{
		margin-left: 45px;
		font-size: 5px;
		padding: 1px;
	}

	#workflow h1{
		font-size: 20px;
	}

	#workflow .card-body h5{
		font-size: 10px;
	}

	#workflow .btn{
		width: 100%;
		font-size: 10px;
		padding:5px;
	}

	/*-- contact --*/
	#contact{
		margin-top: 10px;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#contact h1{
		margin-top: 1px;
		font-size: 20px;
	}

	#contact p{
		font-size: 15px;
		padding-bottom: 10px;
	}

	#contact a{
		font-size: 60px;
	}

	#button a, #button-2 a{
		padding: 5px;
		font-size: 7px;
	}

	/*-- testing, template --*/
	#testing, #template{
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#testing h1, #template h1{
		font-size: 15px;
		padding-top: 20px;
	}
	
	#testing .card, #template .card{
		margin-left: 45px;
		font-size: 5px;
		padding: 1px;	
	}

	#testing h1, #template h1{
		font-size: 20px;
	}

	#testing .card-body h5, #template .card-body h5{
		font-size: 10px;
	}

	#testing .btn, #template .btn{
		width: 100%;
		font-size: 10px;
		padding:5px;
	}

	#testing .text, #template .text{
		font-size: 18px;
		padding-top: 30px;
	}

	/*-- footer --*/
	#footer{
		padding-top: 150px;
		padding-bottom: 200px;
	}
	#footer p{
		font-size: 10px;

	}
	#footer .rights{
		padding-bottom: 20px;
	}

	#footer a{
		font-size: 10px;
	}
}
@media (max-width: 1200px) {
	
	#top-menu .navbar-brand{
		font-size: 25px;
	}

	#top-menu .icon-button{
		display: none;
	}

	#top-menu .navbar-toggler{
		border: none;
	}

	#top-menu .navbar-toggler .active a{
		border: none;
	}

	#top-menu  .navbar-nav a:hover{
	border-bottom: none;
	color: #d6d6d6;	
	}

	#top-menu  .navbar-nav .active a{
	border-bottom: none;
	color: #ffffff;
	}

	#collection {
		min-height: 100%;
	}

	#profile .foto{
		width: 50%;
		display: block; 
		margin: 0 auto;
	}	

	#workflow{
		background-color: #ffffff;
		display: block; 
		margin: 0 auto;
	}

	#workflow .card h5{
	font-size: 17px;
	}

	#workflow .card p{
	font-size: 13px;
	}

	#testing .card h5{
	font-size: 17px;
	}

	#testing .card p{
	font-size: 13px;
	}

	#template .card h5{
	font-size: 17px;
	}

	#template .card p{
	font-size: 13px;
	}

	/*-- переопределение ширины кнопок в карточке секций --*/
	#workflow .btn, #testing .btn, #template .btn{
	width: 90%;
	}
}

/*-- end media--*/

